/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig 
Developed @ General Assembly in NYC

*/

body {
	background: url('../images/cookie-monster.jpg');
	font-family: helvetica;
	color: #FFFFFF;
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#container {
max-width:320px;
  -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 10px solid;
    background: #000000;
    border-color: #000000;
}

#head {
	max-width:320px;
	font-size: 60px;
	font-weight: bold;
}


#blah {
	max-width:320px;
color: #000000;
font-size: 20px;
font-weight: bold;
  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid;
    background: #66CCFF;
    border-color: #66CCFF;
}

#something{
max-width:400px;
font-size: 12px;
}
